<ion-header>
  <ion-toolbar>
    <ion-title>Mis Cursos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-card>
    <ion-card-header>
      <ion-card-title class="heading">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"
          alt="Logo"
        />
      </ion-card-title>
    </ion-card-header>

<ion-content>
  <ion-list *ngIf="cursos && cursos.length > 0; else noCourses">
    <ion-item *ngFor="let curso of cursos">
      <ion-thumbnail slot="start">
        <img [src]="curso.imagen" alt="Imagen del curso {{ curso.nombre }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ curso.nombre }}</h2>
        <p>{{ curso.descripcion }}</p>
      </ion-label>
      <ion-button (click)="verDetalleCurso(curso.id)" expand="block" fill="clear" shape="round">
        Ver
      </ion-button>
    </ion-item>
  </ion-list>
  <ng-template #noCourses>
    <ion-item>
      <ion-label>No hay cursos disponibles.</ion-label>
    </ion-item>
  </ng-template>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Nuevo Curso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre del Curso</ion-label>
        <ion-input [(ngModel)]="nuevoCurso.nombre" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Sigla</ion-label>
        <ion-input [(ngModel)]="nuevoCurso.sigla" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Institución</ion-label>
        <ion-input [(ngModel)]="nuevoCurso.institucion" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="nuevoCurso.descripcion" placeholder=""></ion-input>
      </ion-item>

      <ion-button color="warning" expand="full" (click)="crearCurso()">Crear Curso</ion-button>
    </ion-card-content>
  </ion-card>




  
</ion-content>
