<ion-header>
  <ion-toolbar>
    <div class="Cursos">
    <ion-title>Mis Cursos</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title class="heading">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"
        alt="Logo"
      />
    </ion-card-title>
  </ion-card-header>

  <ion-list class="course-list" *ngIf="cursos && cursos.length > 0; else noCourses">
    <ion-item *ngFor="let curso of cursos">
      <ion-thumbnail slot="start">
        <img [src]="curso.imagen" alt="Imagen del curso {{ curso.nombre }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ curso.nombre }}</h2>
        <p>{{ curso.descripcion }}</p>
      </ion-label>
      <ion-button (click)="verDetalleCurso(curso.id)" expand="block" fill="clear" shape="round">
        Ver
      </ion-button>
    </ion-item>
  </ion-list>
  <ng-template #noCourses>
    <ion-item>
      <ion-label>No hay cursos disponibles.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom" class="Banner">
    <ion-tab-button routerLink="/cursos-profe" tab="schedule">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Mis cursos</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/nosotros" tab="speakers">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/crear-curso" tab="map">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Crear Curso</ion-label>
    </ion-tab-button>
  
    <ion-tab-button (click)="presentAlert()" tab="about">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Cerrar Sesion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
