
<ion-content id="main-content" class="ion-content">
  <ion-header>
    
      </ion-header>

      <ion-card>
  <ion-card-header>
    <ion-card-title class="heading">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"
        alt="Logo"
      />
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h1>Bienvenido, {{ usuario }} !</h1>

    <ion-card id="contenido1">
      <div style="align-items: center;">
        <div style="text-align: center;">
          <img src="https://icons.veryicon.com/png/o/business/oa-attendance-icon/attendance-adjustment.png" alt="">
          <ion-card-header>
            <h2>Puedes Ingresar tu Asistencia En boton Ingresar Asistencia</h2>
            <h2>¡Bienvenido Estudiante!</h2>
          </ion-card-header>
        </div>
      </div>
    </ion-card>
  </ion-card-content>
  
</ion-card>
</ion-content>
<div class="Banner">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/qrscanner" tab="schedule">
      <ion-icon name="push-outline"></ion-icon>
      <ion-label>Escanear Asistencia</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/nosotros-alumnos" tab="speakers">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/home" tab="about">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Cerrar Sesion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  </div>

