ion-content {
    /* Increase the margin-top value to move it further down */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-card {
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(255, 251, 251);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1); /* Sombra */
  }
  
  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .heading img {
    width: 70%;
    height: auto; /* Maintain aspect ratio */
  }
  .inputContainer {
    width: 100%;
    margin-bottom: 50px; /* Espacio entre los inputs */
    position: relative;
  }
  
  .inputIcon {
    position: absolute;
    left: 0%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
    margin: auto;
    transform: translateY(-50%); /* Centra verticalmente el icono */
    color: var(--ion-color-medium, black); /* Color del icono */
  }
  
  .inputField {
    width: 100%;
    height: 45px; /* Más alto para mejor visibilidad */
    margin-left: 20px; /* Deja espacio para el icono */
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--ion-color-medium, black);
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 2px solid var(--ion-color-primary, #0088ff); /* Color de enfoque */
  }
  
  #asist-btn{
    color: white;
  }
  #button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: var(--ion-color-primary, #0088ff); /* Color del botón */
    border-radius: 30px;
    color: white; /* Texto en blanco */
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .logout-label {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  ion-menu-button {
    --color: var(--ion-color-primary, #0088ff); /* Color of the icon */
    --icon-size: 24px; /* Size of the icon */
    --padding-start: 0;
    --padding-end: 0;
    --margin-start: 0;
    --margin-end: 0;
  }

  #contenido1 {
    width: 75%;
    margin-top: 80px ;
    align-items: center;
  }

  
.Banner {
  /* Ajusta la altura del contenedor de la barra de tabs */
  height: 80px;
}

.Banner ion-tab-bar {
  /* Ajusta el tamaño de la barra de tabs */
  height: 100%;
  font-size: 1.2rem; /* Aumenta el tamaño del texto */
}

.Banner ion-tab-button {
  /* Ajusta el tamaño de cada botón */
  --color: #FFA500;
  --color-selected: #001aff;
  --padding-top: 12px;
}

.Banner ion-tab-button ion-icon {
  font-size: 24px; /* Aumenta el tamaño del ícono */
}

.Banner ion-tab-button ion-label {
  font-size: 14px; /* Aumenta el tamaño de la etiqueta */
}

.logo {
  content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png');
}


.imgca {
  background-color: rgb(100, 100, 100);
}

.hederletra {
background-color: gray;
}

h2 {
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  .logo {
    content: url('https://www2.duoc.cl/proveedores/img/logo-duoc.png'); /* Cambia la URL de la imagen para el modo oscuro */
  }

  ion-card {
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  .imgca {
    background-color: rgb(63, 63, 63);
  }

  .hederletra {
background-color: gray;
  }

  h2 {
    color: aliceblue;
  }

  h1 {
    color: rgb(255, 255, 255);
  }

  .gustom {
    background-color: #030303; // Fondo más oscuro en modo oscuro
    box-shadow: 0px 8px 12px rgba(255, 208, 0, 0.979);


  }

}



