<ion-header [translucent]="true">
  <ion-toolbar>
    
    <div class="h11">
      <ion-title>Registro de Usuario</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="body" [fullscreen]="true">
  <div class="logo">
    <img src="" />
  </div>


  <ion-card-content class="custom-card">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="codigo" label="Código"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="run" label="RUN"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="nombre" label="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="apellido" label="Apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="correo" label="Correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="perfil" label="Perfil"></ion-input>
    </ion-item>
   
    <ion-button color="warning" expand="full" (click)="registrarUsuario()" class="crear-curso-button">Registrar</ion-button>
    <a id="recu"  routerLink="/home"><h2 class="volver">Volver</h2></a>
    <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
  </ion-card-content>
</ion-content>
