<ion-header [translucent]="true">
  <ion-toolbar>
    
    <div class="h11">
      <ion-title>Registro de Usuario</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="body" [fullscreen]="true">
  <div class="logo">
    <img src="" />
  </div>


  <ion-card-content class="custom-card">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input 
        value="presenteprofe" 
        label="Código" 
        readonly 
        [(ngModel)]="codigo">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input 
        placeholder="XX.XXX.XXX-X" 
        label="RUN" 
        [(ngModel)]="run">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="nombre" label="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="apellido" label="Apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input labelPlacement="floating" [(ngModel)]="correo" label="Correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Perfil</ion-label>
      <ion-select [(ngModel)]="perfil">
        <ion-select-option value="estudiante">Estudiante</ion-select-option>
        <ion-select-option value="docente">Docente</ion-select-option>
      </ion-select>
    </ion-item>
   
    <ion-button color="warning" expand="full" (click)="registrarUsuario()" class="crear-curso-button">Registrar</ion-button>
    <a id="recu"  routerLink="/home"><h2 class="volver">Volver</h2></a>
    <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
  </ion-card-content>
</ion-content>
