<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>

  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-list>
        
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="ion-content">
  

  <ion-card>
    <ion-card-header>
      <ion-card-title class="heading">
        <img
          src="" class="logo"
          alt="Logo"
        />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
      <h1>Bienvenido, {{ usuario }} !</h1>

  
      <ion-card id="contenido1" class="gustom">
        <div style="align-items: center;">
          <div style="text-align: center;" class="imgca">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYFE4fMyH62NE2VtFwcDRGaELC8KnfWDYcZQ&s" alt="" class="imgca">
            <ion-card-header class="hederletra" >
              <h2>¡Bienvenido Docente!</h2>
              <h2>Tus herramientas de trabajo estan listas</h2>
              
            </ion-card-header>
          </div>
        </div>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
<div class="Banner">
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/cursos-profe" tab="schedule">
    <ion-icon name="albums-outline"></ion-icon>
    <ion-label>Mis cursos</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/nosotros" tab="speakers">
    <ion-icon name="people-outline"></ion-icon>
    <ion-label>Nosotros</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/crear-curso" tab="map">
    <ion-icon name="medkit-outline"></ion-icon>
    <ion-label>Crear Curso</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="presentAlert()" tab="about">
    <ion-icon name="enter-outline"></ion-icon>
    <ion-label>Cerrar Sesion</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</div>