<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="heading">
        <img
          src="" class="logo"
          alt="Logo"
        />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Input para usuario -->
      <ion-item class="inputContainer">
        <ion-icon
          slot="start"
          name="person-outline"
          class="inputIcon"
          
        ></ion-icon>
        <ion-input
        labelPlacement="floating"
          [(ngModel)]="usuario"
          label="Usuario"
          type="text"
          id="username"
          class="inputField"
          
        ></ion-input>
      </ion-item>

      <!-- Input para contraseña -->
      <ion-item class="inputContainer">
        <ion-icon
          slot="start"
          name="lock-closed-outline"
          class="inputIcon"
        ></ion-icon>
        <ion-input
        labelPlacement="floating"
          [(ngModel)]="password"
          label="Contraseña"
          type="password"
          id="password"
          class="inputField"
        ></ion-input>
      </ion-item>

      <!-- Mensaje de error si los campos están vacíos o las credenciales son incorrectas -->
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <!-- Contenedor para los botones -->
      <div class="signupContainer ion-text-center">
        <a routerLink="/registro">Crear usuario</a> <br>
        <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>

        <!-- Botón para ingresar, que llama a validateInputs() -->
        <ion-button color="warning" id="button" (click)="validateInputs()"> Ingresar </ion-button> 
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
