ion-content {
  /* Increase the margin-top value to move it further down */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Fondo gris claro */
}
ion-card {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.heading img {
  width: 70%;
  height: auto; /* Maintain aspect ratio */
}
.inputContainer {
  width: 100%;
  margin-top: 40%; /* Espacio entre los inputs */
  margin-bottom: 40%; /* Espacio entre los inputs */
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 0%;
  top: 60%;
  transform: translate(-50%, -50%);
  margin-top: 5px;
  margin: auto;
  transform: translateY(-50%); /* Centra verticalmente el icono */
  color: var(--ion-color-medium, black); /* Color del icono */
}

.inputField {
  width: 100%;
  height: 45px; /* Más alto para mejor visibilidad */
  margin-left: 20px; /* Deja espacio para el icono */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--ion-color-medium, black);
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid var(--ion-color-primary, #0088ff); /* Color de enfoque */
}

#button {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background-color: var(--ion-color-primary, #0088ff); /* Color del botón */
  border-radius: 30px;
  color: white; /* Texto en blanco */
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.signupContainer p {
  font-size: 0.9rem;
  font-weight: 500;
  color: blue; /* Texto en negro */
}
#recu {
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--ion-color-primary, #0088ff); /* Enlace resaltado */
  text-decoration: none;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading img {
  width: 90%;
  height: auto; /* Maintain aspect ratio */
}

ion-item {
  --border-radius: 12px;  /* Puedes cambiar el valor para más o menos redondeo */
  --border-radius-color: black;
}

.volver {

  color: #001ec7;

}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: #0050b9;
}

.logo {
  content: url('https://i.ibb.co/mRTRWcf/sdadad.png');
}
 

@media (prefers-color-scheme: dark) {

  .logo {
    content: url('https://www2.duoc.cl/proveedores/img/logo-duoc.png'); /* Cambia la URL de la imagen para el modo oscuro */
    
  }


  .inputContainer {
    width: 100%;
    margin-bottom: 50px; /* Espacio entre los inputs */
    position: relative;
    background-color: #000000;
  }

  .body {
    background-color: #000000; /* Color de fondo de respaldo */
  }

  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .heading img {
    width: 90%;
    height: auto; /* Maintain aspect ratio */
  }

  ion-item {
    --border-radius: 12px;  /* Puedes cambiar el valor para más o menos redondeo */
    --border-radius-color: black;
  }

  .sc-ion-input-md-h {
    --highlight-color: #ffe600;
  }

.volver {

  color: #ffd000;

}

}