<ion-content class="ion-content">
  <ion-card class="body">
    <ion-card-header>
      <ion-card-title class="heading">
        <img
          src="" class="logo"
          alt="Logo"
        />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="inputContainer">
        <ion-icon
          slot="start"
          name="mail-outline"
          class="inputIcon"
        ></ion-icon>
        <ion-input
        labelPlacement="floating"
          label="Ingrese su correo"
          type="text"
          id="username"
          class="inputField"
        ></ion-input>
      </ion-item>

      <div class="signupContainer ion-text-center">
        <a id="recu"  routerLink="/home"><h2 class="volver">Volver</h2></a>
        <ion-button color="warning" id="button"> Enviar correo </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
