<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia de la Clase</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let asistencia of asistencias">
      <ion-label>
        <h2>{{ asistencia.nombre_estudiante }}</h2>
        <p>Hora de Asistencia: {{ asistencia.hora_asistencia }}</p>
      </ion-label>
      <ion-badge *ngIf="asistencia.presente" color="success">Presente</ion-badge>
      <ion-badge *ngIf="!asistencia.presente" color="danger">Ausente</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
