<ion-header>
  <ion-toolbar>
    <ion-title>{{ curso?.nombre }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="curso?.imagen" alt="{{ curso?.nombre }}">
    <ion-card-header>
      <ion-card-title>{{ curso?.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ curso?.descripcion }}</p>
      <ion-button [routerLink]="['/clases-curso', curso?.id]">Ver Clases del Curso</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
