<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ curso?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="curso">
    <img [src]="curso.imagen" alt="{{ curso.nombre }}" />

    <ion-card-header>
      <ion-card-title>{{ curso.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ curso.descripcion }}</p>
    </ion-card-content>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="curso.usuario.img" />
      </ion-avatar>
      <ion-label>
        <h2>{{ curso.usuario.nombre_completo }}</h2>
        <p>{{ curso.usuario.correo }}</p>
        <p>{{ curso.usuario.perfil }}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
