ion-header {
    background-color: transparent; /* Elimina cualquier fondo */
}
.header{
    padding: 0;
     width: 100%;
    justify-content: center;
    background-color: gray;
}

ion-content{
  margin: 0px;
  padding: 0px;
}

.logoduoc {
  width: 100%; 
  height: auto;
  display: flex;
    justify-content: center; /* Centra el contenido */
  
    background-color: transparent; /* Fondo transparente */
}

.img {
    width: 100%; /* Para hacer que la imagen se ajuste al contenedor */
    height: auto;    /* Mantén la proporción de la imagen */

}

  .contenido-todo{ /*aqui esta todo el body en general*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  

  
  .tituloabajo{   /* me gusta usar mas px*/
    text-align: center; 
    font-size: 24px;
    color: #131111;
    font-size: 2.0rem; /* aqui ajustamos el tamaño del titulo "Nosotros"*/
  }
  
  .personas-contenedor{ 
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .persona{ /* aqui tenemos la configuraciones tanto el fondo de cada carta*/
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  
  .persona h2{ /*aqui arreglamos la letra y ect*/
    margin-bottom: 10px;
    color: #333;
  }
  
  .persona p{
    color: #666;
  }
  

  .Banner {
    /* Ajusta la altura del contenedor de la barra de tabs */
    height: 80px;
  }
  
  .Banner ion-tab-bar {
    /* Ajusta el tamaño de la barra de tabs */
    height: 100%;
    font-size: 1.2rem; /* Aumenta el tamaño del texto */
  }
  
  .Banner ion-tab-button {
    /* Ajusta el tamaño de cada botón */
    --color: #000000;
    --color-selected: #001aff;
    --padding-top: 12px;
  }
  
  .Banner ion-tab-button ion-icon {
    font-size: 24px; /* Aumenta el tamaño del ícono */
  }
  
  .Banner ion-tab-button ion-label {
    font-size: 14px; /* Aumenta el tamaño de la etiqueta */
  }

  .Nosotros {
    text-align: center;
  }
  .logo {
    content: url('https://i.ibb.co/mRTRWcf/sdadad.png');
  }
 
  .cerrar {

    color: red;
  }
 
  @media (prefers-color-scheme: dark) {
    .logo {
      content: url('https://www2.duoc.cl/proveedores/img/logo-duoc.png'); /* Cambia la URL de la imagen para el modo oscuro */
    }
  
    ion-card {
      margin: auto;
      width: 100%;
      max-width: 400px;
      border-radius: 20px;
      background-color: rgb(0, 0, 0);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra */
    }
    .tituloabajo{   /* me gusta usar mas px*/
      text-align: center; 
      font-size: 24px;
      color: #ffffff;
      font-size: 2.0rem; /* aqui ajustamos el tamaño del titulo "Nosotros"*/
    }

    .gustom2 {

        background-color: #030303; // Fondo más oscuro en modo oscuro
        box-shadow: 0px 4px 12px rgba(255, 208, 0, 0.979);
        margin-top: 20px;
        margin-block: 20px;
      
    }

    .Banner ion-tab-button {
      /* Ajusta el tamaño de cada botón */
      --color: #ffa500;
      --color-selected: #001aff;
      --padding-top: 12px;
    }

  }