    


<ion-content id="main-content" class="ion-content">
  <ion-header>
    <ion-toolbar>
      <div class="Nosotros">
      <ion-title>Nosotros</ion-title>
    </div>
      </ion-toolbar>
      </ion-header>

      <ion-card class="gustom2 "> 
     <ion-card-header>
            <img
              src="" class="logo"
              alt="Logo"
            />
        </ion-card-header>
        
  <div class="contenido-todo">
    <h1 class="tituloabajo ">Nosotros</h1>

    <div class="personas-contenedor">
      <div class="persona">
        <h2>Gonzalo Gomez</h2>
        <p>Hola soy actualmente alumno de duoc uc 
          actualmente soy jefazo y estudiando analista programador computacional
          tengo mucha paciencia con el vicente 
        </p>
      </div>

      <div class="persona">
        <h2>Sebastian Ayala</h2>
        <p>Hola soy actualmente alumno de duoc uc
          y estoy estudiando analista programador computacional.
          el vicente estaba mas perdido que el teniente bello.
        </p>
      </div>

      <div class="persona">
        <h2>Vicente Salinas</h2>
        <p>Hola soy actualmente alumno de duoc uc.
          estoy estudiando analista programador computacional. 
          Soy un gran aficionado del CSS y me gustaria aprender mas.
        </p>
      </div>
    </div>
  </div>
  
</ion-card>
</ion-content>
<div class="Banner">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/qrscanner" tab="schedule">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Escanear Asistencia</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/nosotros-alumnos" tab="speakers">
      <ion-icon name="heart-circle"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>
  
   
    <ion-tab-button class="cerrar"  (click)="presentAlert()" tab="about">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Cerrar Sesion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>

