ion-segment{
    margin-top: 20px;
   }
   
   .segment{
     padding: 30px 5px;
   }
   
   .submit{
     height: 44px;
     --border-radius: 10px;
     --background: var(--ion-color-tertiary);
   }
   
   .scan-label{
     margin: 25px 0;
   }
   
   img{
     width: 200px;
   }
   .submit {
    margin-bottom: 20px;

   }
   .ion-padding-top {

    color: #030303;
    }

    h2 {

      color: #030303;
    }

    h5 {
color: #030303;

    }
   .result{
     color: black;
     border: 1px dashed var(--ion-color-medium);
     border-radius: 10px;
     margin: 30px 0;
   
     p{
       color: var(--ion-color-tertiary);
       margin-bottom: 5px;
       font-size: 11px;
     }
   
     h6{
       margin-top: 0;
     }
   }
   
   ion-button{
     text-transform: none;
   }
   
   ion-textarea{
     --highlight-color-valid: var(--ion-color-tertiary);
     text-align: start;
   }
   
   #qrImage{
     padding: 20px 0;
   }
   
   .qr-wrapper{
     width: 230px; 
     min-height: 230px;
     background: var(--ion-color-tertiary); 
     border-radius: 20px;
   }
   
   .qr-placeholder{
     width: 60px; 
   }
   
   .d-flex-center{
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .gustom {

    background-color: #919191; // Fondo más oscuro en modo oscuro
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.979);
    margin-top: 20px;
    margin-block: 20px;
  }

   .logo {
    content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png');
    width: 90%;
  }

   
   @media (prefers-color-scheme: dark) {

    .gustom {

      background-color: #030303; // Fondo más oscuro en modo oscuro
      box-shadow: 0px 4px 12px rgba(255, 208, 0, 0.979);
      margin-top: 20px;
      margin-block: 20px;
      border-radius: 8px;
    }
    .logo {
      content: url('https://www2.duoc.cl/proveedores/img/logo-duoc.png'); /* Cambia la URL de la imagen para el modo oscuro */
      
      width: 90%;
 
    }
    .submit {
      margin-bottom: 20px;
  
     }
     .ion-padding-top {
  
      color: #ffffff;
      }
  
      h2 {
  
        color: #ffffff;
      }
  
      h5 {
  color: #ffffff;
  
      }
   }
   