<ion-header>
  <ion-toolbar>
    <ion-title>Generar QR</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-card-header>
  <img
    src="" class="logo"
    alt="Logo"
  />
</ion-card-header>

<ion-content class="ion-padding ion-text-center">

  <ion-card class="gustom"> 
  <h2>Escanea el QR para Registrar tu Asistencia</h2>
  <div id="qrImage">
    <qr-code [value]="qrText" size="190" errorCorrectionLevel="M"></qr-code>
    <h5>El codigo QR es el siguente:</h5>
    <div class="ion-padding-top"><h4>{{ qrText }}</h4></div>
  </div>
  <ion-button color="warning" (click)="captureScreen()" expand="block" class="submit ">
    Compartir
    <ion-icon slot="end" name="share-social-outline"></ion-icon>
  </ion-button>
</ion-card>
</ion-content>
