<ion-header>
  <ion-toolbar>
    <ion-title>Generar QR</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="qrImage">
    <qr-code [value]="qrText" size="190" errorCorrectionLevel="M"></qr-code>
    <div class="ion-padding-top">{{ qrText }}</div>
  </div>
  <ion-button color="warning" (click)="captureScreen()" expand="block" class="submit ion-margin-top">
    Compartir
    <ion-icon slot="end" name="share-social-outline"></ion-icon>
  </ion-button>
</ion-content>
