<ion-header>
  <ion-toolbar>
    <div class="Inscripcion">
  <ion-title>Inscripcion Asistencia</ion-title>
    </div>
  </ion-toolbar>
    </ion-header>
<ion-content class="ion-padding ion-text-center">
  
  <ion-card-header class="logo-header">
    <ion-card-title class="heading">
      <img
        src="" 
        alt="Logo"
        class="logo"
      />
    </ion-card-title>
  </ion-card-header>

  <ion-card id="main-card" class="gustom">
    <ion-card-content>
        <ion-row>
        <h6>Escanea una imagen de un QR para Inscripcion.</h6>
        <ion-col size="12">
          <ion-button color="warning" (click)="startScan()" expand="block" class="full-button">
            Scan
            <ion-icon slot="end" name="scan-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <br>
        <h6>Selecciona una imagen a escanear.</h6>
        <ion-col size="12">
          <ion-button color="warning" (click)="readBarcodeFromImage()" expand="block" class="full-button">
            Selecciona
            <ion-icon slot="end" name="image-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-card-content>
  </ion-card>
</ion-content>

<div class="Banner">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/qrscanner" tab="schedule">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Escanear Asistencia</ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/nosotros-alumnos" tab="speakers">
      <ion-icon name="heart-circle"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>
  
   
    <ion-tab-button  class="cerrar" (click)="presentAlert()" tab="about">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Cerrar Sesion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
