:host{
    --ion-background-color: #ffffff; /* Fondo blanco ;D*/
  }
 
  
  ion-header {
    background-color: transparent; /* Elimina cualquier fondo */
}

.logoduoc {
    display: flex;
    justify-content: center; /* Centra el contenido */
    align-items: center;
    background-color: transparent; /* Fondo transparente */
}

.img {
    max-width: 100%; /* Para hacer que la imagen se ajuste al contenedor */
    height: auto;    /* Mantén la proporción de la imagen */
    position: static;
}

@media (max-width: 768px) {
    .img {
        width: 80%;  /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    }
}

  .contenido-todo{ /*aqui esta todo el body en general*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  

  
  .tituloabajo{   /* me gusta usar mas px*/
    margin-top: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #131111;
    font-size: 2.0rem; /* aqui ajustamos el tamaño del titulo "Nosotros"*/
    margin-block-start: 20rem;
  }
  
  .personas-contenedor{ 
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .persona{ /* aqui tenemos la configuraciones tanto el fondo de cada carta*/
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  
  .persona h2{ /*aqui arreglamos la letra y ect*/
    margin-bottom: 10px;
    color: #333;
  }
  
  .persona p{
    color: #666;
  }
  