<ion-header>
    <ion-title class="logoduoc" >
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" 
      alt="Logo_DuocUC">
    </ion-title>
</ion-header>

<ion-content>
  <div class="contenido-todo">
    <h1 class="tituloabajo ">Nosotros</h1>

    <div class="personas-contenedor">
      <div class="persona">
        <h2>Gonzalo Gomez</h2>
        <p>Hola soy actualmente alumno de duoc uc 
          actualmente soy jefazo y estudiando analista programador computacional
          tengo mucha paciencia con el vicente 
        </p>
      </div>

      <div class="persona">
        <h2>Sebastian Ayala</h2>
        <p>Hola soy actualmente alumno de duoc uc
          y estoy estudiando analista programador computacional.
          el vicente estaba mas perdido que el teniente bello.
        </p>
      </div>

      <div class="persona">
        <h2>Vicente Salinas</h2>
        <p>Hola soy actualmente alumno de duoc uc.
          estoy estudiando analista programador computacional. 
          Soy un gran aficionado del CSS y me gustaria aprender mas.
        </p>
      </div>
    </div>
  </div>
</ion-content>
