 ion-header {
    background-color: transparent; /* Elimina cualquier fondo */
}
.header{
    padding: 0;
     width: 100%;
    justify-content: center;
    background-color: transparent;
}

ion-content{
  margin: 0px;
  padding: 0px;
}

.logoduoc {
  width: 100%; 
  height: auto;
  display: flex;
    justify-content: center; /* Centra el contenido */
  
    background-color: transparent; /* Fondo transparente */
}

.img {
    width: 100%; /* Para hacer que la imagen se ajuste al contenedor */
    height: auto;    /* Mantén la proporción de la imagen */

}

  .contenido-todo{ /*aqui esta todo el body en general*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  

  
  .tituloabajo{   /* me gusta usar mas px*/
    text-align: center; 
    font-size: 24px;
    color: #131111;
    font-size: 2.0rem; /* aqui ajustamos el tamaño del titulo "Nosotros"*/
  }
  
  .personas-contenedor{ 
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .persona{ /* aqui tenemos la configuraciones tanto el fondo de cada carta*/
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  
  .persona h2{ /*aqui arreglamos la letra y ect*/
    margin-bottom: 10px;
    color: #333;
  }
  
  .persona p{
    color: #666;
  }
  